*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
 
}
body{
    background: #222831 ;
    color: #FFECDB;
}

.side-logo{
    position: relative;
    display: flex;
    height: 50px;
    margin-left: 300px;
    bottom:1px ;
}

.side-logo2{   
    position: relative;
    display: flex;
    height: 50px;
    margin-right: 300px;
   bottom: 1px;
}


.navbar{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    background: #393E46;
    overflow:visible;
    width: 100%;
    padding: 0 10px;
    height: 50px;
}

.menu{
    right: 0;
    
}
.navbar ul li{
    display: inline-block;
    list-style: none;
    margin: 1rem 1.2rem;
}

.navbar ul li a{
    color: #EEEEEE;
    text-decoration: none;
    font-size: 1rem;
    position: relative;
}

.navbar ul li a::after{
    content: '';
    width: 0;
    height: 0.2rem;
    background: #00ADB5;
    position: absolute;
    left: 0;
    bottom: -0.5rem;
    transition: 0.5s;
}

.navbar ul li a:hover::after{
    width: 100%;
}

.contact {
    padding-top: 10vw;
    text-align: center;
}

.contact-details {
    font-size: 3rem;
    font-weight: 700;
    padding-top: 1rem;
}

.contact-details {
    font-size: 3rem;
    font-weight: 700;
}

.social-icons a{
    align-items: center;
    background-color: transparent;
    border: 0.2rem solid #4ED7F1;
    border-radius: 40%;
    color: white;
    display: inline-flex;
    font-size: 3rem;
    height: 8rem;
    justify-content: center;
    margin: 3rem 1.5rem 3rem 0;
    width: 8rem;
}

.social-icons a:hover {
    background-color: #6FE6FC;
    box-shadow: 0 0 25px #A8F1FF;
    color: white;
    transform: scale(1.3);
}

.left-contact {
    color: #FFFA8D;
    font-size: 5.5rem;
    height: 8rem;
    width: 8rem;
}
